.profile-nav .nav-link {
    color: #495057;
    border-radius: 0;
    border-left: 4px solid transparent;
}
.profile-nav .nav-link.active {
    background-color: #e9ecef;
    color: var(--primary-color);
    border-left-color: var(--primary-color);
    font-weight: bold;
  }
  .card-header { 
    font-weight: bold; 
    text-transform: uppercase; 
}
.rating-good {
    color: #198754; 
    font-weight: bold; 
}
.rating-bad { 
    color: #dc3545; 
    font-weight: bold; 
}